VITE_SUPABASE_URL=https://ocpheyjxwocltfyyqbsh.supabase.co

VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9jcGhleWp4d29jbHRmeXlxYnNoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU3MjQwNTksImV4cCI6MjA3MTMwMDA1OX0.BCjtLiAc53fYMcf3pWqLT3Dd6X1-7iJx9RIwpyN-5Eo

SUPABASE_URL=https://ocpheyjxwocltfyyqbsh.supabase.co

SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9jcGhleWp4d29jbHRmeXlxYnNoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU3MjQwNTksImV4cCI6MjA3MTMwMDA1OX0.BCjtLiAc53fYMcf3pWqLT3Dd6X1-7iJx9RIwpyN-5Eo

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9jcGhleWp4d29jbHRmeXlxYnNoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NTcyNDA1OSwiZXhwIjoyMDcxMzAwMDU5fQ.xiFJrK50tTwUTEgGYAzxLAvJm6zAED0R2B5bUTCXsAE